*{
    margin: 0;
    padding: 0;
}

.thing-sec{
    background-color: #00b4d8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    height: 529px;
    width: 529px;
}

.container>div>div{
    background-color: #fff;
    width: 6px;
    height: 6px;
    display: flex;
    flex-direction: column;
    border: 0.1px solid #00b4d8;
}

.column:hover{
    background-color: #ffafcc;
}